<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand logo" routerLink="home">Trendings</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-between pt-2"
    id="collapsibleNavId"
  >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="movie">Movie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tv">TV show</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="persons">Actors</a>
      </li>

      <li class="nav-item  mr-6">
        <a class="nav-link search" routerLink="search"
          ><i class="fa-solid fa-magnifying-glass"></i> Search
        </a>
      </li>
    </ul>
  </div>
  <div class="socal-media">
    <a href="https://www.facebook.com/adel.mohamedberhan/" target="_blank"
      ><i class="fab mx-2 fa-facebook"></i
    ></a>
  </div>
  <div class="socal-media"><i class="fab mx-2 fa-instagram"></i></div>
  <div class="socal-media">
    <a href="https://www.linkedin.com/in/adel-ahmed-2622a6211/" target="_blank"
      ><i class="fab mx-2 fa-linkedin"></i
    ></a>
  </div>
</nav>
